.card {
    border: none;
}

.card-body {
    border: 2px solid rgb(0, 1, 14);
    padding: 0;
}

.chat{
    list-style: none;
    margin: 0;
    padding: 1em 2ch;
    
    overflow: auto;  
    width: 100%; 
    height: 55vh; 
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #B3A9A9;
}

.rounded-circle {
    max-height: 50px;
}
